body {
  box-sizing: border-box;
  margin: auto;
}

.wrapper {
  display: grid;
  background: #e3eff3;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'hd '
    'main1 '
    'main2 '
    'footer';
  font-family: 'Exo', sans-serif;
}


.hamburger {
  display: none;
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

header {
  display: grid;
  grid-area: hd;
  background: #143a52;
}

h1 {
  margin: 0;
  padding: 10px 0 0 10px;
  color: white;
}
h3 {
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
  color: white;
}

nav {
  grid-area: hd;
  display: grid;
  align-self: center;
  justify-self: end;
}

.menu-ul {
  display: flex;
  list-style: none;
}

.contact-submenu {
  display: none;
  list-style: none;
}

ul > li {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bio {
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
}

.bio > img,
h2,
p {
  align-self: center;
  justify-self: center;
}

.projects {
  display: grid;
  grid-column: 1/3;
  grid-row: 3/4;
}

.projects > img,
h2,
p {
  align-self: center;
  justify-self: center;
}

p {
  padding: 5px 25px 15px;
  margin: 0;
}

h2 {
  margin: 15px 0 0 0;
}

img {
  max-width: 100%;
}

footer {
  display: grid;
  grid-area: footer;
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'hd'
      'main'
      'main'
      'footer';
    font-family: 'Exo', sans-serif;
    margin: auto;
    background: #e3eff3;
  }

  ul > li {
    display: none;
  }
  .hamburger {
    display: grid;
    grid-area: hd;
    align-self: center;
    justify-self: center;
    width: 48px;
    height: 42px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 10px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

   .line {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 45px;
    height: 3px;
    margin-right: 25px 0;
    background-color: white;
    
  } 


  .name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
