body {
  box-sizing: border-box;
  margin: auto;
}

.wrapper {
  font-family: 'Exo', sans-serif;
  display: grid;
  /* background: #e3eff3; */
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    'hd hd hd hd '
    'main main main main'
    'main1 main1 main1 main1'
    'main2 main2 main2 main2'
    'main3 main3 main4 main4'
    'footer footer footer footer';
  /* background: url(./images/tree.jpeg) no-repeat center center fixed;
    background-image: cover; */
}

.intro {
  /* background-image: url('./images/tree.jpeg'); */
  margin-bottom: 200px;
  grid-area: main;
  justify-items: center;
  display: grid;
  grid-column: 1/5;
  grid-row: 2/3;
}

.contact {
  display: flex;
  /* display: none; */
  list-style: none;
  justify-content: center;
}

.hamburger {
  display: none;
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

.hd {
  display: flex;
  justify-content: space-between;
  grid-area: hd;
  background: #143a52;
}

h1 {
  margin: 0;
  padding: 10px 0 0 10px;
  color: white;
}
h3 {
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
  color: white;
}

.name-title,
.hd {
  position: sticky;
  top: 0;
  left: 0;
}
nav {
  /* grid-area: hd; */
  /* display: grid; */
  align-self: center;
  /* justify-self: end; */
  position: sticky;
  top: 0;
  right: 0;
}

.menu-ul {
  display: flex;
  list-style: none;
}

ul {
  margin: 0;
}

ul > li {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}



.bio {
  display: grid;
  grid-column: 1/5;
  grid-row: 3/4;
}

.bio > img,
h2,
p {
  align-self: center;
  justify-self: center;
  color: black;
}

#projects {
  display: grid;
}

.feature-project {
  /* display: grid; */
  grid-area: main1;
  grid-column: 1/5;
  grid-row: 1;
}

.project2 {
  display: flex;
  grid-column: 1/5;
  border: 1px solid red;
  padding: 6px;
  margin: 6px;
}

.project2-img {
  grid-area: main3;
  align-self: center;
  
}

.project2-text {
  grid-area: main4;
  align-self: center;
  


}

.project3 {
  grid-area: main3;
  grid-column: 3/5;
  grid-row: 4/5;
}

#projects > img,
h2,
p {
  /* align-self: center;
  justify-self: center; */
}

h4 {
  justify-self: start;
  padding: 0 0 5px 25px;
  margin: 0;
}
p {
  padding: 0px 25px 0;
  margin: 0;
  line-height: 1.5;
  /* font-family: 'Roboto', serif;
  font-weight: thin; */
  font-size: 15px;
  justify-self: start;
}
span {
  font-weight: bold;
  /* font-family: 'Roboto', serif; */
  font-size: 15px;
}

h2 {
  margin: 15px 0 0 0;
}

img {
  /* max-width: 100%; */
}

footer {
  display: grid;
  grid-area: footer;
  align-self: center;
  justify-self: center;
}
